<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>

<body>
    <div>
        <h1>Actualizar modelo glb</h1>
    </div>
    <div>
        <a href="logout">logout</a>
    </div>
    <br>
    <div>

        <p>Seleccciona modelo .glb :</p>
        <input type="file" name="fileGLB" id="fileGLB" accept=".glb" required="required" onchange="saveFile_glb(this)">
    </div>
    </br>
    <a href="home_principal">Volver</a>

    <script>
        function saveFile_glb(event) {
            const xhr = new XMLHttpRequest();
            let formData = new FormData();
            const file = event.files[0];

            formData.append('fileGLB', file);

            xhr.onreadystatechange = (state) => {
                console.log(xhr.status);
            }

            xhr.timeout = 5000;
            xhr.open('POST', 'compare_data_glb_and_upload', true);
            xhr.send(formData);


        }
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert !="undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>'
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
        <% } %>

</body>

</html>